@charset "UTF-8";


/*
#183313
#94E586
#243C20
#6EE55C
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf') format('opentype'); /* Corrigido o caminho e o formato */
}

:root {
    --cor0: #183313;
    --cor1: #94E586;
    --cor2: #243C20;
    --cor3: #6EE55C;
    --cor4: #83e1ad;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    
    --font-destaque: 'Bebas Neue', 'cursive';

    --font-android: 'Android', 'cursive';
    
}

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: #94bb8d; /* Corrigido */
    font-family: var(--font-padrao);
    
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(180deg, #447e3b,#0f2b0a);
    color: white;
    padding-top: 40px;
    min-height: 150px;
    
    
}
header > p {
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
}
header > h1 {
    font-family: var(--font-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.527);
    text-align: center;
}

nav {
    
    padding: 10px;
    box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.575);
    

}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: #243C20;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    padding: 5px;
}
main a:hover {
    text-decoration: underline;
    

}
main a {
    text-decoration: none;
    font-weight: bold;
    color: #13270f;
    background-color: #20c50760;
    border-radius: 5px;
    padding: 2px 5px;  
}
main strong {
    color: #13270f;
    font-weight: bold;
    
    padding: 2px 5px;
    border-radius: 5px;
}
main img.peq {
     max-width: 350px;
     display: block;
     margin: auto;
}

main img.irina {
    display: block;
    margin: auto;
}

main img.dan-droids {
    display: block;
    margin: auto;
}

main {
    background-color: white;

    padding: 20px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    min-width: 260px;
    max-width: 800px;

    margin: auto;
    margin-bottom: 30px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main h1{
    font-family: var(--font-android);
    color: #243C20;
    font-size: 1,2em;
    text-indent: 8px;
    letter-spacing: 2px;
}
main h2 {
    font-family: var(--font-android);
    color: #243C20;
    font-size: 1.2em;
    text-indent: 8px;
    letter-spacing: 2px;
}

div.video {
    background-color: #13270f;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 58.8%;
    position: relative;
}

div.video > iframe {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}

aside {
    background-color: #6ee55cc2;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.37);
}

aside > h3 {
    color: white;  
    background-color: #0f2b0a;
    padding: 10px;
    margin: -35px -35px 0px -35px;
    border-radius: 10px 10px 0px 0px;

}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}

abbr {
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
}

abbr:hover {
    background-color: #00ff4c;
}

footer {
    background-color: #13270f;
    color: white;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
